{% extends "base.html" %}

{% load static %}

{% block title %}Выставление и просмотр оценок{% endblock %}

{% block content %}
вверху страницы список классов 
<table>
  <colgroup>
    <col class="students_col">
    
  </colgroup>
  <caption>Название теста</caption>
  <thead>
    <tr>
      <>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
      <tr>
        <td>{{ student.surname student.name}}</td>
        {% for task in tasks %}
          <td></td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}