/* подключает шрифты */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

/* сбрасывает дефолтные стили */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1F1F1;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: black;
}

a{
    text-decoration: none;
}

.header{
    background-color: white;
    box-shadow: inset;
}

.nav_list{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav_link{
    list-style: none;
}
