{% extends "personal_cards/group.html" %}
{% block buttons %}
<div class="space-between-container">
  <h1>
    Личные отчёты класса 
    {{ group.studing_year}}-{{ group.letter }} {{group.campus }}
  </h1>
  <button class="button" data-modal-id="createCardsModal">Создать отчёты</button>
</div>
<div style="padding-bottom: 30px;">
  <button class="button grey" data-modal-id="archiveCardsModal">Переместить всё архив</button>
  <a href="{% url "personal_cards:group_archived" group.id %}" class="button">Перейти в архив</a>
</div>

<div id="createCardsModal" class="modal">
  <div class="modal-content">
    <h2 class="modal-title">Создать отчёты для класса {{ group }}</h2>
    <form method="POST" action="{% url "personal_cards:create_cards" group.id %}" class="modal-window-form">
      {% csrf_token %}
      {% include "includes/form_fields.html" with form=create_cards_form %}
      <button type="submit" class="button green">Создать</button>
    </form>
  </div>
</div>

<div id="archiveCardsModal" class="modal">
  <div class="modal-content">
    <h2 class="modal-title">Вы действительно хотите переместить все активные карточки в архив?</h2>
    <p style="margin-bottom:15px;">Карточки в архиве не подлежат редактированию</p>
    <form method="POST" action="{% url "personal_cards:archive_cards" group.id %}" class="modal-window-form">
      {% csrf_token %}
      <button type="submit" class="button green">Да</button>
    </form>
  </div>
</div>

{% endblock %}