{% extends "base.html" %}

{% block content %}
  <div class="card-info">
    <h1 class="primary">
      Личная карточка ученика {{ card.student.surname }} 
      {{ card.student.name }} {{ card.student.group }}
    </h1>
    <h4 class="secondary">
      За период обучения: 
      {{ card.start_date|date:"d.m" }} - {{ card.end_date|date:"d.m" }}
    </h4>
  </div>
  <form method="post">
    {% csrf_token %}
    <h1>Стартовая и проверочные работы</h1>
    {% for subject, tests in tests_by_subject.items %}
      <table>
        <caption>{{ subject.name }}</caption>
          <tr>
            <td></td>
            {% for test_data in tests %}
              <td>{{ test_data.test.name }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>Базовый уровень</td>
            {% for test_data in tests %}
              <td>{{ test_data.basic_percent }} %</td>
            {% endfor %}
          </tr>
          <tr>
            <td>Рефлексивный уровень</td>
            {% for test_data in tests %}
              <td>
                {% if test_data.reflexive_percent %}
                  {{ test_data.reflexive_percent }} %
                {% else %}
                  -
                {% endif %}
              </td>
            {% endfor %}
          </tr>
      </table>
    {% endfor %}
    <table>
      <caption>Умения в межпредметных заданиях</caption>
    </table>
    <table>
      <caption>Темы для повторения</caption>
      {% for subject, topics in repeat_topics.items %}
        <tr>
          <td>{{ subject }}</td>
          <td>{{ topics|join:", " }}</td>
        </tr>
      {% endfor %}
    </table>
    {% if recommendations_formset.errors %}
      <div class="errors">
        {{ recommendations_formset.errors }}
      </div>
    {% endif %}
    <table class="table-with-textareas">
      <caption>Индивидуальные рекомендации</caption>
      {{ recommendations_formset.management_form }}
      {% for form in recommendations_formset %}
        <tr>
          {{ form.id }}
          <td>{{ form.instance.subject.name }}</td>
          <td>
            {{ form.text }}
          </td>
        </tr>
      {% endfor %}
    </table>
    {% if strengths_formset.errors %}
      <div class="errors">
        {{ strengths_formset.errors }}
      </div>
    {%endif %}
    <table class="table-with-textareas">
      <caption>Сильные стороны</caption>
      {{ strengths_formset.management_form }}
      {% for form in strengths_formset %}
        <tr>
          {{ form.id }}
          <td>{{ form.instance.subject.name }}</td>
          <td>{{ form.text }}</td>
        </tr>
      {% endfor %}
    </table>
    <button type="submit" class="button">Сохранить</button>
  </forms>
{% endblock %}

{% block script %}
  <script>
    document.querySelectorAll('.table-with-textareas textarea').forEach(textarea => {
        console.log("textarea!");
        // Устанавливаем высоту по содержимому
        textarea.style.height = textarea.scrollHeight + 'px';
        
        // Для динамического изменения при вводе
        textarea.addEventListener('input', function() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        });
    });
  </script>
{% endblock %}