{% extends "base.html" %}

{% block title %}{% endblock %}
{% block content %}
<table>
  <caption>{{ test.subject.name }}. {{ test.name }}. {{ group }}</caption>
  <thead>
    <tr>
      <th rowspan="2">Ученики</th>
      {% for task in tasks %}
        <th>
          <div>
            {{ task.num }}.
            {{ task.level }}
          </div>
        </th>
      {% endfor %}
      <th rowspan="2">Итог в баллах (базовый)</th>
      <th rowspan="2">Итог в процентах (базовый)</th>
      {% if test.with_reflexive_level %}
        <th rowspan="2">Итог в баллах (рефлексивный)</th>
        <th rowspan="2">Итог в процентах (рефлексивный)</th>
      {% endif %}
    </tr>
    <tr>
      {% for task in tasks %}
        <th>{{ task.checked_skill }} (макс: {{ task.max_points }})</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for student in students_table_part %}
      <tr>
        <td>{{ student.name }}</td>
        {% for solution in student.points %}
          <td>{{ solution.result }}</td>
        {% endfor %}
        <td>{{ student.basic_points }}</td>
        <td>{{ student.basic_percent }} %</td>

        {% if test.with_reflexive_level %}
          <td>{{ student.reflexive_points }}</td>
          <td>{{ student.reflexive_percent }} %</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td>С заданием справились</td>
      {% for task_success_count in statistic_table_part.success %}
        <td>{{ task_success_count }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>С заданием не справились</td>
      {% for task_fail_count in statistic_table_part.fail %}
        <td>{{ task_fail_count }}</td>
      {% endfor %}
    </tr>
  </tfoot>
</table>
{% if students_without_results %}
<table>
  <caption>Ученики, которые не выполняли работу</caption>
  <tbody>
    {% for student in students_without_results %}
      <tr>
        <td>{{ student.surname }} {{ student.name }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<a class="button" href="{% url "tests_app:set_marks" test.id group.id %}">
  Перейти к выставлению оценок
</a>
{% endblock %}