{% extends "base.html" %}
{% load my_filters %}

{% block title %}{% endblock %}
{% block content %}
<table>
  <caption>{{ test.name }}. {{ group }}</caption>
  <thead>
    <tr>
      <th rowspan="2">Ученики</th>
      {% for task in tasks %}
        <th>{{ task.num }}{% if task.sub_num %}.{{ task.sub_num }}{% endif %}</th>
      {% endfor %}
      <th rowspan="2">Итого в баллах</th>
      <th rowspan="2">Итого в процентах</th>
    </tr>
    <tr>
      {% for task in tasks %}
        <th>{{ task.checked_skill }} (макс: {{ task.max_points }})</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for student, points in results_matrix.points.items %}
      <tr>
        <td>{{ student.surname }} {{ student.name }}</td>
        {% for point, int_result in points.items %}
          <td>{{ int_result }}</td>
        {% endfor %}
        <td>{{ results_matrix.result_in_points|get:student }}</td>
        <td>{{ results_matrix.result_in_percents|get:student }} %</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td>С заданием справились</td>
      {% for task in tasks %}
        <td>{{ results_matrix.task_solved_amount|get:task }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>С заданием не справились</td>
      {% for task in tasks %}
        <td>{{ results_matrix.task_unsolved_amount|get:task }}</td>
      {% endfor %}
    </tr>
  </tfoot>
</table>
{% if students_without_results %}
<table>
  <caption>Ученики, которые не выполняли работу</caption>
  <tbody>
    {% for student in students_without_results %}
      <td>{{ student.surname }} {{ student.name }}</td>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<a class="button" href="{% url "tests_app:set_marks" test.id group.id %}">
  Перейти к выставлению оценок
</a>
{% endblock %}