{% extends "base.html" %}

{% block content %}

{% if validlink %}
  <h1>Введите новый пароль</h1>
  <form method="POST">
    {% csrf_token %}
    {% include "includes/form_errors.html" %}
    {% include "includes/form_fields.html" %}
    <button type="submit" class="button">Изменить пароль</button>
  </form>
{% else %}
  <h1 class="page-title">Восстановление пароля не получилось</h1>
  <p>
    Ссылка некорректна, возможно, она уже была использована.
    Пожалуйста, попробуйте пройти процедуру заново
  </p>
{% endif %}

{% endblock %}