{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Тест неопубликован</h1>

<form method="post">
  {% csrf_token %}
  {% include "includes/form_errors.html" with form=test_form %}
  {% include "includes/form_fields.html" with form=test_form %}

  <table class="wide">
  <caption class="title">Задания</caption>
    {{ tasks_formset.management_form }}

    {% if test.with_reflexive_level %}
      {% include "tests_management/tasks_table_with_reflexive.html" %}
    {% else %}
      {% include "tests_management/tasks_table.html" %}
    {% endif %}
  </table>

  <div class="buttons-group">
    <h4>Редактирование:</h4>
      <div>
        <button id="add-form" class="button">Добавить задание</button>
        <button type="submit" class="button">Сохранить</button>
      </div>
  </div>
</form>

<div class="buttons-group">
  <h4>Управление:</h4>
    <div>
      {% if not test.is_published %}
        <button class="button" data-modal-id="publishModal">Опубликовать тест</button>
      {% endif %}
      <a class="button" href="{% url 'tests_management:delete_test' test.id %}">Удалить тест</a>
    </div>
</div>

<div class="buttons-group">
  <h4>Назначить тест классам можно только после его публикации</h4>
</div>

<!-- модальное окно публикации теста -->
<div id="publishModal" class="modal">
  <div class="modal-content">
    <form id="publishForm" method="post" action="{% url 'tests_management:publish_test' test.id %}" class="modal-window-form">
      {% csrf_token %}
      <p>После публикации данные теста уже нельзя будет изменить. Опубликовать?</p>
      <button type="submit" class="button green">Да</button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
{% comment %} <script src="{% static "tests_management/adding_forms.js" %}"></script> {% endcomment %}
<script>
  let taskForms = document.querySelectorAll(".task-form");
let container = document.querySelector("#form-container");
let containerBottom = document.querySelector("#form-container-bottom");
let addButton = document.querySelector("#add-form");
let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

let formNum = taskForms.length-1;

addButton.addEventListener('click', addForm);
function addForm(e) {
    e.preventDefault();

    let newForm = taskForms[0].cloneNode(true);
    let formRegex = RegExp(`form-(\\d){1}-`,'g'); // Regex чтобы находить номера форм

    formNum++;
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`); // обновляет номер формы
    newForm.querySelectorAll('input').forEach(el => {el.value = ""});
    container.insertBefore(newForm, containerBottom);

    totalForms.setAttribute('value', `${formNum+1}`);
}
</script>
<script>
  // удаление форм
  document.addEventListener("DOMContentLoaded", function() {
    const formContainer = document.getElementById("form-container");

    formContainer.addEventListener('click', function(e) {
        if (e.target.classList.contains("delete-form")) {
            e.preventDefault();
            console.log("Delete clicked!");
            
            const formRow = e.target.closest(".task-form");
            const deleteWidget = formRow.querySelector(".deletion-widget");
            
            if (deleteWidget) {
                deleteWidget.value = "on";
                formRow.style.display = "none";
            } else {
                console.error("DELETE widget not found!");
            }
        }
    });
  });
</script>
{% endblock %}