{% extends "base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    {% include "includes/form_errors.html" %}
    {% include "includes/form_fields.html" %}

    {{ tasks_formset.management_form }}
    <table class="add-tasks-table">
      <colgroup>
        <col span="2" class="num-col"/>
        <col class="skill-col"/>
        <col class="max-points-col"/>
      </colgroup>
      <caption>Задания</caption>
      <thead>
        <tr>
          <th>Номер</th>
          <th>Подномер (необяз.)</th>
          <th>Проверяемый навык</th>
          <th>Макс. количество баллов</th>
          <th>Удалить</th>
        </tr>
      </thead>
      <tbody>
        {% for form in tasks_formset %}
        <tr>
          {{ form.id }}
          <td class="form-field">
            {{ form.num.errors }}
            {{ form.num }}
          </td>
          <td class="form-field">
            {{ form.sub_num.errors }}
            {{ form.sub_num }}
          </td>
          <td class="form-field">
            {{ form.checked_skill.errors }}
            {{ form.checked_skill }}
          </td>
          <td class="form-field">
            {{ form.max_points.errors }}
            {{ form.max_points }}
          </td>
          <td>
            {{ form.DELETE }}
          </td>
        </tr>
        {% empty %}
          <tr><td colspan="5">В тесте пока нет заданий</td></tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="button" href="{% url 'tests_management:create_task' test_pk %}">Добавить задание</a>
    <input type="submit" class="button" value="Сохранить">
    <a class="button" href="{% url 'tests_management:delete_test' test_pk %}">Удалить тест</a>
  </form>
{% endblock %}