{% extends "base.html" %}
{% load static %}

{% block content %}

{% if test.is_published %}
  <h1>Тест опубликован. Изменение данных уже невозможно</h1>
  {% include "tests_management/test_info.html" %}
{% else %}
  <h1>Тест неопубликован</h1>
  {% include "tests_management/test_form.html" %}
{% endif %}

<div class="buttons-group">
  <h4>Управление:</h4>
    <div>
      {% if not test.is_published %}
        <button class="button" onclick="showPublishModal()">Опубликовать тест</button>
      {% endif %}
      <a class="button" href="{% url 'tests_management:delete_test' test.id %}">Удалить тест</a>
    </div>
</div>
<div class="buttons-group" style="margin-top: 40px;">
  <h2>Классы, которым назначен этот тест:</h2>
  <ul>
    {% for test_assign in test_assigns %}
      <li>
        {{ test_assign.group }}
        {% if test_assign.writing_date %} - выполнили{% endif%}
      </li>
    {% endfor %}
    </ul>
  <div>
    <button class="button grey">Добавить класс</button>
    <button class="button grey">Удалить класс</button>
  </div>
</div>

<!-- Модальное окно -->
<div id="publishModal" class="modal" style="display:none;">
  <div class="modal-content">
    <p>После публикации данные теста уже нельзя будет изменить. Опубликовать?</p>
    <form id="publishForm" method="post" action="{% url 'tests_management:publish_test' test.id %}">
      {% csrf_token %}
      <button type="submit" class="button green">Да</button>
      <button type="button" class="button" onclick="hidePublishModal()">Назад</button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
  <script src="{% static 'tests_management/js/modal.js' %}"></script>
{% endblock %}